@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: #354358
}

@layer components {
    .an{
        @apply hover:bg-gradient-to-r hover:from-red-400 hover:to-sky-400 bg-gradient-to-r
        from-sky-400 to-red-400 rounded-full text-white focus:ring focus:ring-sky-400
        py-2 px-5 my-4 w-8/12
    }
    .navs{
        @apply relative cursor-pointer text-xl font-medium before:absolute before:inset-x-0
        before:-bottom-0.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform
        before:rounded-bl  before:transition-all before:duration-200
        hover:before:scale-x-100 before:bg-red-500
    }
    .nav{
        @apply text-red-600 border-b-4 border-red-500 font-bold
    }
}